
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
a{
  text-decoration: none;
}

/* .header part css */

.header{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 60px;
  padding: 0px 30px;
  position: fixed;
  text-transform: uppercase;
  z-index: 1111;
  animation: header 1s;
  box-shadow: 2px 0px 5px rgb(255, 255, 255);
}
@keyframes header{
  0%{
      transform: translateY(-100%);
  }
}
.header input{
  display: none;
}
.header label{
  cursor: pointer;
}
.logo{
  float: left;
  line-height: 60px;
  font-weight: bold;
  margin-left: 25px;
  color: rgb(71, 71, 71);
  animation: logo 1.5s infinite;
}
@keyframes logo{
  50%{
      color: rgb(255, 255, 255);
      text-decoration-line: overline;
      font-size: 35px;
      margin-left: -10px;
      font-weight: bold;
      text-shadow: 1px 1px 5px rgb(255, 255, 255),
                  -1px -1px 5px rgb(255, 255, 255); 
  }
}
.header label:hover, #logo:checked ~ label{
  color: rgb(255, 255, 255);
  text-decoration-line: overline;
  text-shadow: 1px 1px 5px rgb(255, 255, 255),
              -1px -1px 5px rgb(255, 255, 255);
}
.nav{
  float: right;
  font-size: 20px;
}
.nav li{
  list-style: none;
  display: inline-flex;
  margin: 20px 0px;
}
.nav li a{
  padding: 5px 10px;
  color: rgb(255, 255, 255);
}
.nav li a:hover{
  color: rgb(220, 20, 60);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.nav li a:active{
  color: rgb(39, 2, 64);
}
.checkbtn{
  color: rgb(255, 255, 255);
  font-size: 35px;
  float: right;
  display: none;
  line-height: 65px;
}

/* body part css -> home */

.home{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./pages/images/bg1.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-color: rgb(0, 0, 0);
}
.hcontent{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  text-shadow: 1px 1px 5px rgb(255, 255, 255),
              -1px -1px 5px rgb(255, 255, 255);
}
.hcontent a{
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 10px;
  background-color: rgba(3, 72, 18,0.7);
  border: 2px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-shadow: none;
}
.hcontent a:hover{
  background-color: rgba(38, 38, 231, 0.7);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

/* body part css -> about */

.about{
  background-image: url(./pages/images/bg.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  padding-top: 65px;
  color: rgb(255, 255, 255);
}
.about h1{
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 20px;
}
.pro{
  font-size: 25px;
  float: right;
  margin: 20px 10%;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  box-shadow: 5px 0px 5px rgb(255, 255, 255),
              0px 5px 5px rgb(255, 255, 255),
              -5px 0px 5px rgb(255, 255, 255),
              0px -5px 5px rgb(255, 255, 255);
}
.pro2{
  float: left;
}

/* body part css -> Menu */

.menu{
  width: 100%;
  height: 100vh;
  text-align: center;
  border: 5px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(39, 39, 39);
}
.smenu{
  width: 45%;
  height: 45%;
  margin: 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
}
.tospl{
  float: right;
  box-shadow: 15px 15px 15px rgb(255, 255, 255);
  background-image: url(./pages/images/sbg1.jpg);
  background-size: cover;
  background-position: center;
}
.veg{
  float: left;
  box-shadow: -15px 15px 15px rgb(255, 255, 255);
  background-image: url(./pages/images/sbg3.jpg);
  background-size: cover;
  background-position: center;
}
.non-veg{
  float: left;
  box-shadow: 15px -15px 15px rgb(255, 255, 255);
  background-image: url(./pages/images/sbg2.jpg);
  background-size: cover;
  background-position: center;
}
.des{
  float: right;
  box-shadow: -15px -15px 15px rgb(255, 255, 255);
  background-image: url(./pages/images/sbg4.jpg);
  background-size: cover;
  background-position: center;
}
.menu p{
  width: 100%;
  height: 100%;
  border-radius: 25px;
  font-size: 35px;
  font-weight: 600;
  background-color: rgba(221, 160, 221,0.4);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.menu p:hover{
  opacity: 0;
}

/* body part css -> Reservation */

.reserve{
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center;
  padding: 60px 0px;
  background-image: url(./pages/images/bg2.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgb(0, 0, 0);
}
.reserve h1{
  line-height: 50px;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgb(255, 255, 255),
              -1px -1px 5px rgb(255, 255, 255);
}
.resForm{
  padding: 10px;
  margin: 5% 30%;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.resForm label{
  padding: 10px;
}
.resForm input, .rbtn{
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  width: 200px;
}
.resForm a{
  color: rgb(0, 0, 0);
}
.tc, #tc{
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  width: inherit;
}
.rbtn{
  width: 150px;
  border-radius: 20px;
  background-color: rgba(4, 250, 78, 0.5);
}
.rbtn:hover{
  background-color: rgba(224, 75, 75, 0.5);
  color: rgb(255, 255, 255);
}
.canply{
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 0px 15%;
}
.canply span{
  font-weight: bold;
}

/* contact part css */

.contact{
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background-image: url(./pages/images/cbg.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}
.contact h1{
  line-height: 50px;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgb(255, 255, 255),
              -1px -1px 5px rgb(255, 255, 255); 

}
.contact form{
  padding: 20px;
  margin: 5% 30%;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.contact input, .msg{
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  width: 300px;
}
.msg{
  margin-bottom: -5px;
}
.cbtn{
  font-size: 20px;
  width: 150px;
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgba(4, 250, 78, 0.5);
  cursor: pointer;
  margin-top: 30px;
}
.cbtn:hover{
  background-color: rgba(224, 75, 75, 0.5);
  color: rgb(255, 255, 255);
}

/* footer part css */

.footer{
  line-height: 40px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(0, 0, 0,1);
  box-shadow: -2px 0px 5px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}
.footer a, .footer p{
  padding: 0px 5px;
  color: rgb(255, 255, 255);
}
.footer a:hover{
  color: rgb(43, 231, 90);
}
.footer a:active{
  color: rgb(210, 27, 27);
}


@media screen and (max-width: 1120px){
  .checkbtn{
    display: block;
  }
  .nav{
    width: 100%;
    height: 50vh;
    background-color: rgba(83, 102, 77, 0.9);
    top: 65px;
    position: absolute;
    right: -100%;
    text-align: center;
    transition: 0.5s;
    font-size: 20px;
  }
  .nav li{
    display: block;
    margin: 35px 0px;
    line-height: 20px;
  }
  #check:checked ~ .nav{
    right: 0px;
  }
  .video{
    height: 100vh;
  }
  .about{
    height: 140vh;
  }
  .about h1{
    font-size: 30px;
  }
  .reserve h1{
    font-size: 40px;
  }
  .resForm{
    font-size: 25px;
    margin: 5% 20%;
  }
  .contact Form{
    font-size: 25px;
    margin: 5% 20%;
  }
}

@media screen and (max-width: 650px) {
  .header{
    padding: 0px 25px;
  }
  .hcontent{
    font-size: 30px;
  }
  .btn{
    font-size: 17px;
  }
  .about{
    height: 170vh;
  }
  .menu p{
    font-size: 25px;
  }
  .reserve h1{
    font-size: 30px;
  }
  .resForm{
    font-size: 20px;
    margin: 10%;
  }
  .contact h1{
    font-size: 35px;
  }
  .contact form{
    margin: 10%;
  }
}

/* For Mobile view */

@media screen and (max-width: 420px) {
  .about{
    height: 170vh;
  }
  .pro{
    font-size: 15px;
  }
  .reserve h1{
    font-size: 25px;
  }
  .resForm{
    margin: 2% 10%;
  }    
  .tc, #tc{
    font-size: 15px;
  }
  .canply{
    font-size: 15px;
  }
  .contact h1{
    font-size: 20px;
  }
  .contact Form{
    margin: 2% 10%;
  }
  .contact input, .msg{
    width: 200px;
    font-size: 15px;
    margin: 5px;
  }
  .footer{
    font-size: 15px;
  }
}